body{
margin:0;
font-family:Arial;			
}

.button{
color:#fff;
margin:0;
border:0;
padding:5px;
font-size: 16px;
background-color: #3F3F3F;
cursor:pointer;
}

textarea{font-family:Arial;}

a.button{padding-left: 9px;padding-right: 9px;text-decoration: none;}

.button:hover{
background-color: #5F5F5F;
}

.login{
width:244px;height:194px;position:absolute;top:50%;left:50%;margin-top:-97px;margin-left:-122px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
background: #fff;
}

.login table{
width:226px;padding:9px;
}

.login table input[type="text"], .login table input[type="password"]{
width:95%;	
}

.body{
position:absolute;width:100%;min-height:100%;padding-bottom:10px;
background-image: url('../img/fondo.gif');
background-repeat: repeat;
}

.head{
width:900px;height:100px;margin-left:auto;margin-right:auto;
background-image: url('../img/header.gif');
background-repeat: no-repeat;
}

.head .logo{width:100px;height:80px;float:left;background-color:blue;padding:10px;}
.head .title{width:500px;height:100px;float:left;}
.head .title table{height:100px;}
.menu{width:900px;height:50px;margin-left:auto;margin-right:auto;background-color:#e9e9ce;}

.content{
width:870px;margin-left:auto;margin-right:auto;padding:15px;
background-image: url('../img/fondo2.gif');
background-repeat: repeat;
}

.footer{
width:900px;height:20px;margin-left:auto;margin-right:auto;background-color:purple;-webkit-border-bottom-right-radius: 10px;-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;-moz-border-radius-bottomleft: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;text-align:center;padding-top:5px;
background: rgb(221,26,26); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(221,26,26,1) 0%, rgba(143,2,34,1) 87%, rgba(113,7,7,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,26,26,1)), color-stop(87%,rgba(143,2,34,1)), color-stop(100%,rgba(113,7,7,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(221,26,26,1) 0%,rgba(143,2,34,1) 87%,rgba(113,7,7,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(221,26,26,1) 0%,rgba(143,2,34,1) 87%,rgba(113,7,7,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(221,26,26,1) 0%,rgba(143,2,34,1) 87%,rgba(113,7,7,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(221,26,26,1) 0%,rgba(143,2,34,1) 87%,rgba(113,7,7,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd1a1a', endColorstr='#710707',GradientType=0 ); /* IE6-9 */
}

.listado{
border-collapse: collapse;
}

.listado thead td{
color:#191717;
height:30px;
font-weight:bold;
font-size:14px;
background: rgb(172,172,172); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(172,172,172,1) 0%, rgba(138,138,138,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(172,172,172,1)), color-stop(100%,rgba(138,138,138,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(172,172,172,1) 0%,rgba(138,138,138,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(172,172,172,1) 0%,rgba(138,138,138,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(172,172,172,1) 0%,rgba(138,138,138,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(172,172,172,1) 0%,rgba(138,138,138,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acacac', endColorstr='#8a8a8a',GradientType=0 ); /* IE6-9 */
}

.listado tbody td{
padding:2px;
font-size:12px;
color:#030303;
height:20px;
}

.listado tfoot td{
color:#ffffff;
height:30px;
font-weight:bold;
font-size:14px;
background: rgb(221,26,26); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(221,26,26,1) 0%, rgba(143,2,34,1) 87%, rgba(113,7,7,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,26,26,1)), color-stop(87%,rgba(143,2,34,1)), color-stop(100%,rgba(113,7,7,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(221,26,26,1) 0%,rgba(143,2,34,1) 87%,rgba(113,7,7,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(221,26,26,1) 0%,rgba(143,2,34,1) 87%,rgba(113,7,7,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(221,26,26,1) 0%,rgba(143,2,34,1) 87%,rgba(113,7,7,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(221,26,26,1) 0%,rgba(143,2,34,1) 87%,rgba(113,7,7,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd1a1a', endColorstr='#710707',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.listado tfoot td a{
color:#ffffff;
}

.listado td{padding-left:5px !important;padding-right:5px !important;}

.listado .mini{width:20px;}
.listado .mediana{width:65px;}
.listado .mediano{width:75px;}
.listado .median0{width:90px;}
.listado .grande{width:300px;}

.registro{
font-size:14px;
color:#030303;
width:310px;
}

.registro .linea1{width: 85px;}
.registro .linea2{width: 100px;}

.registro .chico{width:45px;}
.registro .mediano{width:80px;}
.registro .grande{width:180px;}

.registro2{
border-collapse: collapse;
font-size:14px;
color:#030303;
width:610px;
}

.registro2 .linea1{width: 100px;}
.registro2 .linea2{width: 140px;}	
.registro2 .linea3{width: 340px;}
.registro2 textarea{width:460px;font-family:Arial}
.registro2 .cc2{text-align:right;}
.registro2 .chico{width: 50px;}
.registro2 .chico2{width: 65px;}
.registro2 .grande{width: 350px;}
.registro2 .noInput{border:0;background:transparent;font-weight:bold;}

.registro2 thead td{
color:#191717;
height:30px;
font-weight:bold;
font-size:14px;
background: rgb(172,172,172); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(172,172,172,1) 0%, rgba(138,138,138,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(172,172,172,1)), color-stop(100%,rgba(138,138,138,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(172,172,172,1) 0%,rgba(138,138,138,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(172,172,172,1) 0%,rgba(138,138,138,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(172,172,172,1) 0%,rgba(138,138,138,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(172,172,172,1) 0%,rgba(138,138,138,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acacac', endColorstr='#8a8a8a',GradientType=0 ); /* IE6-9 */
}

.rcomision{width: 807px}
.rcomision .mediano{width: 70px}
.rcomision .grande{width: 100px}
.rcomision .grande2{width: 120px}

.equis{width:14px;height:14px;border:0;background-image: url('../img/equis.png');background-repeat: no-repeat;cursor:pointer;}
.chau{width:15px;height:15px;border:0;background-image: url('../img/cerrar.png');background-repeat: no-repeat;cursor:pointer;}

.todo{width: 100%;}

/*FONTz*/
.tFooterLogin{color:#A7A7A7;font-size:12px;}
.tBlack22{color:#555555;font-size:22px;}
.tWhite14{color:#fff;font-size:14px;}
.tBlack14{color:#192823;font-size:14px;}
.tBlack11{color:#192823;font-size:11px;}
.tGray12{color:#828282;font-size:12px;}